<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        5公里最佳
        <button (click)="open(addPb, 5)" class="btn btn-link btn-sm float-right">更新</button>
      </div>
      <div class="card-body">
        <h2 class="card-title">20分20秒</h2>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        10公里最佳
        <button (click)="open(addPb, 10)" class="btn btn-link btn-sm float-right">更新</button>
      </div>
      <div class="card-body">
        <h2 class="card-title">45分</h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        半马最佳
        <button (click)="open(addPb, 21)" class="btn btn-link btn-sm float-right">更新</button>
      </div>
      <div class="card-body">
        <h2 class="card-title">1小时30分</h2>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        全马最佳
        <button (click)="open(addPb, 42)" class="btn btn-link btn-sm float-right">更新</button>
      </div>
      <div class="card-body">
        <h2 class="card-title">3小时30分</h2>
      </div>
    </div>
  </div>
</div>
<ng-template #addPb let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{modalTitle}}</h5>
    <button class="close" (click)="modal.dismiss()"><span>&times;</span></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group row">
        <label for="bestScore" class="col-sm-3 col-form-label">最新纪录：</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="score" #score ngbAutofocus id="bestScore"/>
          <div *ngIf="angForm.controls['score'].invalid && (angForm.controls['score'].dirty || angForm.controls['score'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['score'].errors.required">
              最佳成绩是必填项
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="bestDate" class="col-sm-3 col-form-label">完成日期：</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="bestDate" [owlDateTime]="dt" [owlDateTimeTrigger]="dt" formControlName="logDate" #logDate />
          <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
        </div>
      </div>
      <div class="form-group row">
        <label for="bestNote" class="col-sm-3 col-form-label">备注：</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="note" #note id="bestNote"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="savePB(score.value, logDate.value, note.value)">更新</button>
  </div>
</ng-template>
<ul class="list-group">
  <li class="list-group-item">2018年12月12日，你创造了新的5公里记录，用时20分钟。</li>
</ul>