<div class="row row-best">
  <div class="col-3" *ngFor="let best of bestList">
    <div class="card bg-light">
      <div class="card-header">
        {{ best.title }}
        <button (click)="open(addPb, best.type)" class="btn btn-link btn-sm float-right">更新</button>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ best.score | time }}</h3>
      </div>
    </div>
  </div>
</div>
<ng-template #addPb let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{modalTitle}}</h5>
    <button class="close" (click)="modal.dismiss()"><span>&times;</span></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">最新纪录：</label>
        <div class="col-sm-9">
          <div class="input-group">
              <input type="number" class="form-control" formControlName="scoreHour" id="score-hour" #scoreHour>
              <div class="input-group-append">
                <span class="input-group-text">小时</span>
              </div>
              <input type="number" class="form-control" formControlName="scoreMinute" id="score-minute" #scoreMinute>
              <div class="input-group-append">
                <span class="input-group-text">分</span>
              </div>
              <input type="number" class="form-control" formControlName="scoreSecond" id="score-second" #scoreSecond>
              <div class="input-group-append">
                <span class="input-group-text">秒</span>
              </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="bestDate" class="col-sm-3 col-form-label">完成日期：</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="bestDate" [owlDateTime]="dt" [owlDateTimeTrigger]="dt" formControlName="logDate" #logDate />
          <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
        </div>
      </div>
      <div class="form-group row">
        <label for="bestNote" class="col-sm-3 col-form-label">备注：</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="note" #note id="bestNote"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="savePB(scoreHour.value, scoreMinute.value, scoreSecond.value, logDate.value, note.value)">更新</button>
  </div>
</ng-template>
<h3 class="text-info">里程碑</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let log of logs">{{ log.logDate | date: 'yyyy年MM月dd日' }}，你创造了新的{{ log.title }}，用时{{ log.score | time }}。</li>
</ul>