<div class="container">
  <div class="card bg-light add-form">
      <div class="card-body">
        <form [formGroup]="angForm" novalidate>
          <div class="row">
            <div class="col-3">
              <div class="form-group row">
                <label class="col-3 col-form-label">公里</label>
                <div class="col-9">
                  <input type="number" class="form-control" formControlName="mileage" #mileage />
                  <!-- <div *ngIf="angForm.controls['mileage'].invalid && (angForm.controls['mileage'].dirty || angForm.controls['mileage'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['mileage'].errors.required">这是必填项</div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label class="col-2 col-form-label">用时</label>
                <div class="col-10">
                    <div class="input-group">
                        <input type="number" class="form-control" formControlName="scoreHour" id="score-hour" #scoreHour>
                        <div class="input-group-append">
                          <span class="input-group-text">小时</span>
                        </div>
                        <input type="number" class="form-control" formControlName="scoreMinute" id="score-minute" #scoreMinute>
                        <div class="input-group-append">
                          <span class="input-group-text">分</span>
                        </div>
                        <input type="number" class="form-control" formControlName="scoreSecond" id="score-second" #scoreSecond>
                        <div class="input-group-append">
                          <span class="input-group-text">秒</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-3">
                <div class="form-group row">
                  <label class="col-3 col-form-label">日期</label>
                  <div class="col-9">
                    <input class="form-control" formControlName="addedDate" #addedDate [owlDateTime]="dt" [owlDateTimeTrigger]="dt" placeholder="Please select date to add">
                    <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
                  </div>
                </div>
              </div>
            <div class="col-12">
              <div class="form-group">
                <label class="col-form-label">备注</label>
                <textarea class="form-control" formControlName="note" #note></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <button (click)="addMileage(mileage.value, note.value, addedDate.value, scoreHour.value, scoreMinute.value, scoreSecond.value)" 
                [disabled]="angForm.pristine || angForm.invalid" 
                class="btn btn-warning float-right">增加跑量</button>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>
  <div>
    <a class="float-right mt-2" routerLink="/runner/history">历史记录</a>
    <h3 class="text-info">{{ currentMonth }}月跑步记录</h3>
    <p>这个月已经跑了{{ monthTotal }}公里</p>
  </div>
  <!-- run list -->
  <ul class="list-group mileage-list">
    <li class="list-group-item" *ngFor="let m of mileages">
      <div class="row">
        <div class="col-2 border-right">
          <h1 class="text-center mt-2">{{ m.addedDate | date: "dd" }}</h1>
        </div>
        <div class="col-2 border-right">
          <h2 class="text-warning mt-2">{{ m.mileage }} km</h2>
        </div>
        <div class="col-6 border-right">
          <p class="text-info mt-2 mb-2">用时：{{ m.score | time }}</p>
          <p class="text-black-50 mb-3">{{ m.note }}</p>
        </div>
        <div class="col-2">
          <button class="btn btn-link" (click)="open(editMileage, m._id)">编辑</button>
          <button class="btn btn-link" (click)="openConfirm(deleteMileage, m._id)">删除</button>
        </div>
      </div>
    </li>
  </ul>

  <!-- template for updating mileage record -->
  <ng-template #editMileage let-modal>
    <div class="modal-header">
      <h5 class="modal-title">更新跑步记录</h5>
      <button class="close" (click)="modal.dismiss()"><span>&times;</span></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <div class="form-group row">
          <label for="mileage" class="col-sm-3 col-form-label">公里：</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="mileage" autofocus formControlName="mileage" #mileage />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">用时：</label>
          <div class="col-sm-9">
            <div class="input-group">
                <input type="number" class="form-control" formControlName="scoreHour" id="score-hour" #scoreHour>
                <div class="input-group-append">
                  <span class="input-group-text">小时</span>
                </div>
                <input type="number" class="form-control" formControlName="scoreMinute" id="score-minute" #scoreMinute>
                <div class="input-group-append">
                  <span class="input-group-text">分</span>
                </div>
                <input type="number" class="form-control" formControlName="scoreSecond" id="score-second" #scoreSecond>
                <div class="input-group-append">
                  <span class="input-group-text">秒</span>
                </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="bestNote" class="col-sm-3 col-form-label">备注：</label>
          <div class="col-sm-9">
            <textarea class="form-control" formControlName="note" #note id="bestNote"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="updateMileage(mileage.value, scoreHour.value, scoreMinute.value, scoreSecond.value, note.value)">更新</button>
    </div>
  </ng-template>
  <!-- delete confirm template -->
  <ng-template #deleteMileage let-modal>
    <div class="modal-header">
      <p class="modal-title" id="modal-title">删除确认</p>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4 class="text-danger">你确定要删除这条记录吗？</h4>
      <p>删除后将无法复原。</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">取消</button>
      <button type="button" class="btn btn-danger" (click)="confirmDeleteMileage()">确定</button>
    </div>
  </ng-template>
</div>
