<div class="container">
  <div class="card bg-light add-form">
      <div class="card-body">
        <form [formGroup]="angForm" novalidate>
          <div class="row">
            <div class="col-6">
              <div class="form-group row">
                <label class="col-2 col-form-label">公里</label>
                <div class="col-10">
                  <input type="number" class="form-control" formControlName="mileage" #mileage />
                  <!-- <div *ngIf="angForm.controls['mileage'].invalid && (angForm.controls['mileage'].dirty || angForm.controls['mileage'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['mileage'].errors.required">这是必填项</div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label class="col-2 col-form-label">用时</label>
                <div class="col-10">
                    <div class="input-group">
                        <input type="number" class="form-control" formControlName="scoreHour" id="score-hour" #scoreHour>
                        <div class="input-group-append">
                          <span class="input-group-text">小时</span>
                        </div>
                        <input type="number" class="form-control" formControlName="scoreMinute" id="score-minute" #scoreMinute>
                        <div class="input-group-append">
                          <span class="input-group-text">分</span>
                        </div>
                        <input type="number" class="form-control" formControlName="scoreSecond" id="score-second" #scoreSecond>
                        <div class="input-group-append">
                          <span class="input-group-text">秒</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                  <label class="col-2 col-form-label">日期</label>
                  <div class="col-10">
                    <input class="form-control" formControlName="addedDate" #addedDate [owlDateTime]="dt" [owlDateTimeTrigger]="dt" placeholder="Please select date to add">
                    <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
                  </div>
                </div>
              </div>
            <div class="col-6">
              <div class="form-group row">
                <label class="col-2 col-form-label">备注</label>
                <div class="col-10">
                  <input type="text" class="form-control" formControlName="note" #note />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <button (click)="addMileage(mileage.value, note.value, addedDate.value, scoreHour.value, scoreMinute.value, scoreSecond.value)" 
                [disabled]="angForm.pristine || angForm.invalid" 
                class="btn btn-warning float-right">增加跑量</button>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>
  <h3 class="text-info">跑步记录</h3>
  <!-- run list -->
  <ul class="list-group mileage-list">
    <li class="list-group-item" *ngFor="let m of mileages">
      <div class="row">
        <div class="col-2">
          {{ m.addedDate | date: "MM月dd日" }}
        </div>
        <div class="col-2">
          <h2 class="text-warning">{{ m.mileage }} km</h2>
        </div>
        <div class="col-6">
          <p class="text-info">用时：{{ m.score | time }}</p>
          <p class="text-black-50">{{ m.note }}</p>
        </div>
        <div class="col-2">
          <button class="btn btn-link" (click)="editMileage()">编辑</button>
          <button class="btn btn-link" (click)="deleteMileage(m._id)">删除</button>
        </div>
      </div>
    </li>
  </ul>
</div>
